/* MEDIA OVERWRITE AND NEW SETTINGS */
@media screen and (max-width: 950px){
    .grid-flip{
        order: 1;
    }
    
    .main-title{
        text-align: center;
    }

    .grid-system-2{
        grid-template-columns: 1fr;
    }

    .grid-system-4{
        grid-template-columns: repeat(2, 1fr);
    }

    .small-card{
        min-height: 300px;
    }
}

@media screen and (max-width: 600px){
    .grid-system-4{
        grid-template-columns: 1fr;
    }

    .small-card{
        height: auto;
    }
}
